<div class="container mt-5">
<div *ngIf="showTable">
  <table mat-table [dataSource]="dishDetails" class="mat-elevation-z8">
  
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.dishId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Dish Name">
      <th mat-header-cell *matHeaderCellDef> Dish Name </th>
      <td mat-cell *matCellDef="let element"> {{element.dishName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Dish Price">
      <th mat-header-cell *matHeaderCellDef> Dish Price </th>
      <td mat-cell *matCellDef="let element"> {{element.dishPrice}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Vendor">
      <th mat-header-cell *matHeaderCellDef> Vendor </th>
      <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> 
        <button (click)="editDishDetails(element.dishId)">
          <mat-icon style="color: yellowgreen;">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"> 
        <button (click)="deleteDish(element.dishId)"><mat-icon color="warn">delete</mat-icon></button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  

      <div class="text-center mt-3" *ngIf="showLoadMoreButton">
        <button mat-raised-button color="primary" type="button" (click)="loadMoreDishes()">Load More</button>
      </div>
      
</div>
