<div class="container mt-5">
    <table mat-table [dataSource]="myOrders" class="mat-elevation-z8">

        <ng-container matColumnDef="Order ID">
            <th mat-header-cell *matHeaderCellDef> Order ID </th>
            <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
          </ng-container>

          
        <ng-container matColumnDef="Orderer">
            <th mat-header-cell *matHeaderCellDef> Orderer </th>
            <td mat-cell *matCellDef="let element"> {{element.ordererFullName}} </td>
          </ng-container>

          
        <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.orderFullAddress}} </td>
          </ng-container>

          
        <ng-container matColumnDef="Contact Number">
            <th mat-header-cell *matHeaderCellDef> Contact Number </th>
            <td mat-cell *matCellDef="let element"> {{element.ordererContactNo}} </td>
          </ng-container>

          
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
          </ng-container>

          
        <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.orderTotalAmount}} </td>
          </ng-container>

          <ng-container matColumnDef="Dish">
            <th mat-header-cell *matHeaderCellDef> Dish </th>
            <td mat-cell *matCellDef="let element"> {{element.dish.dishName}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
